---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.jsx";
const cardsData = await Astro.glob('../data/*.json'); // returns an array of posts that live at ./src/pages/post/*.md

---

<Layout title="SEDS Antariksh Programming Department">
	<main class="w-full py-12 md:py-24 lg:py-20 bg-black flex flex-col items-center">
		<div class="container px-4 md:px-6 flex flex-col items-center gap-2">
			<h1 class="text-3xl font-bold tracking-tighter w-fit sm:text-5xl xl:text-6xl/none bg-clip-text text-transparent bg-gradient-to-r from-white to-gray-500">
				SEDS Antariksh Programming Department
			</h1>
			<p class="max-w-[800px] text-zinc-200 md:text-xl dark:text-zinc-100 mx-auto text-center">
				We are a bunch of passionate developers who love to code and also love space.
            </p>
		</div>
		<div class="min-[300px]:px-5 w-full max-w-[1200px] space-y-4 mx-auto mt-10">
			<div class="grid grid-cols-2 gap-2 md:grid-cols-3 md:gap-8">
				{cardsData.map((card) => (
					<Card name={card.name} branch={card.branch} year={card.year} linkedin={card.linkedin} github={card?.github}/>
				  ))}
				<!-- <Card name="Lenin Kennedy" branch="ECM" year="3rd" linkedin="" github="" />
				<Card name="Shailee Yadav" branch="ECM" year="3rd" linkedin="" github="" />
				<Card name="Rumman Fardeen" branch="CSE Core" year="3rd" linkedin="" github="" />
				<Card name="Lenin Kennedy" branch="ECM" year="3rd" linkedin="" github="" /> -->
				
			</div>
		</div>
	</main>
</Layout>
